/* CUSTOM */

body {
  margin: 0;
  color: #333333;
  background-color: #ecf0f1;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}

/* IMG */
img {
  height: auto;
  max-width: 100%;
}

/* GRID */
.section {
  padding: 24px 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}
.row {
  margin: 0 -16px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between;
  gap: 24px;
  align-items: center; */
}
.col {
  margin-left: 16px;
  margin-right: 16px;
  box-sizing: border-box;
}
.elem {
  width: calc( 100% / 4 - 32px);
}

/* list */
/* .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.list__item {
  flex-basis: 300px;
  margin: 16px;
  text-align: center;
} */

/* grid */
/* .list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: #3498db;
}
.list__item {
  background-color: #bdc3c7;
  text-align: center;
}
.list__item img {
  display: block;
  margin: 0 auto;
}
.list__item h2, .list__item p {
  margin: 0;
} */

.layout {
  display: grid;
  gap: 16px;

  grid-template-rows: 50px 150px 1fr 50px;
  grid-template-columns: 50px 1fr 200px;

  grid-template-areas: 
    "nav nav nav" /* Занять сверху макета два столбца */
    "header header header"
    "main main aside"
    "footer footer footer";

  max-width: 1280px;
  min-height: 100vh; /* растягиваем layout на всю высоту */
  margin: 0 auto;
  padding: 0 32px;
  color: #ecf0f1;
}
.layout__nav {
  grid-area: nav;
  background-color: #e74c3c;
}
.layout__header {
  grid-area: header;
  background-color: #34495e;
}
.layout__main {
  grid-area: main;
  background-color: #2ecc71;
}
.layout__aside {
  grid-area: aside;
  background-color: #f1c40f;
}
.layout__footer {
  grid-area: footer;
  background-color: #2c3e50;
}

/*
@media screen and ( max-width: 900px ) {
  .layout {
    grid-template-rows: 50px 150px 1fr 100px 50px;

    grid-template-areas:
      "nav nav" /* Занять сверху макета два столбца
      "header header"
      "main main"
      "aside aside"
      "footer footer";
  }
} 
*/

@media screen and ( max-width: 900px ) {
  .layout {
    /* Убираем первую строку */
    grid-template-rows: 150px 1fr 50px;

    grid-template-areas:
      "nav header header"
      "nav main aside"
      "nav footer footer";
  }
}
