/* CUSTOM */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  margin: 0;
  color: #333333;
  background-color: #ecf0f1;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}

/* Список товаров */
.goods {
  background-color: #9b59b6;
  font-size: 0; /* чтобы убрать пробелы между элементами */
  overflow: hidden; /* чтобы у крайних элементов не выпадали margin */
}
.goods__item {
  background-color: #f1c40f;
  width: 300px;
  display: inline-block;
  font-size: 16px;
}

/* IMG */
img {
  height: auto;
  max-width: 100%;
}

/* GRID */
.section {
  padding: 24px 0;
}
.container {
  /* display: flex; */
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
