/* CUSTOM */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  margin: 0;
  color: #333333;
  background-color: #ecf0f1;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}

/* Список товаров */
main {
  background-color: #3498db;
  /* min-height: 150px; можно не ставить */
}
.goods-wrap {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 32px; /* поля от края экрана, можно не ставить или уменьшить на малых экранах */
}
.goods {
  padding: 8px 0;
  background-color: #9b59b6;
  font-size: 0; /* чтобы убрать пробелы между элементами */
  margin: 0 -8px;
}
.goods__item {
  background-color: #f1c40f;
  /* width: 300px; */
  /* width: 284px; минусуем (8px * 2) */
  width: calc(25% - 16px); /* 25% минус (margin * 2) */
  display: inline-block;
  font-size: 16px;
  margin: 8px;
  padding: 8px;
  border: 4px solid #e67e22;
  box-sizing: border-box;
}

@media ( max-width: 900px ) {
  .goods__item {
    width: calc(100% / 3 - 16px);
  }
}

@media ( max-width: 700px ) {
  .goods__item {
    width: calc(100% / 2 - 16px);
  }
}

@media ( max-width: 500px ) {
  .goods__item {
    width: calc(100% - 16px);
    /* width: auto; не для inline-block */
  }
}

/* Если поставить display: block; то вертикальные margin не будут суммироваться */
/* @media ( max-width: 500px ) {
  .goods__item {
    display: block;
    width: auto;
    margin-bottom: 10px;
  }
} */

/* IMG */
img {
  height: auto;
  max-width: 100%;
}

/* GRID */
.section {
  padding: 24px 0;
}
.container {
  /* display: flex; */
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
